* {
    box-sizing: border-box;
}

.wrapper {
    border: 1px solid black;
    width: 868px;
    height: 800px;
    margin: 0 auto;
}

.puzzle {
    border: 1px solid black;
    width: 868px;
    height: 579px;
    background-image: url('images/_Puzzle_bg_unsolved.png');
    clear: right;
}

.puzzle_tray {
    width: 868px;
    height: 221px;
}

#piece1 {
    margin: 10px;
    width: 110px;
    height: 95px;
    background-image: url('images/Group 15.png');
}

.drop_spot {
    position: relative;
    top: 35px;
    left: 29px;
    width: 50px;
    height: 50px;
}


.levels_wrap {
    position: relative;
    left: 500px;
    bottom: 70px;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    
}

.levels {
  width: 100px;
  border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 8px 0;
    padding: 5px;
    background-color: #555;
  color: #888;
}

.timer {
   position: relative;
  left: 750px;
  bottom: 50px;
  width: 100px;
  background-color: #555;
  color: #888;
}


.start,
.hint {
    width: 130px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    padding: 10px;
}

.start {
  position: relative;
  left: 350px;
  bottom: 130px;
  background-color: #555;
  color: #888;
}

.hint {
  margin-top: 10px;
  position: relative;
  bottom: 180px;
  left: 20px;
  background-color: #555;
  color: #888;
}

/*==================================
ANIMATIONS
===================================*/

/***** Shake Animations ******/
.animate,
.animate_horizontal,
.animate_vertical,
.animate_rotate,
.animate_crazy {
  transform-origin: center center;
  animation-play-state: running;
}

@keyframes animate {
  20% { transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  40% { transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  80% { transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  0%, 100% { transform: translate(0, 0) rotate(0); } }

.animate {
  animation: animate 100ms ease-in-out 0s infinite;
}

@keyframes animate_horizontal {
  20% { transform: translate(20px, 0) rotate(0); }
  40% { transform: translate(0px, 0) rotate(0); }
  60% { transform: translate(4px, 0) rotate(0); }
  80% { transform: translate(-16px, 0) rotate(0); }
  0%, 100% { transform: translate(0, 0) rotate(0); }
}

.animate_horizontal {
  animation: animate_horizontal 250ms ease-out 0s infinite;
}

@keyframes animate_vertical {
  20% { transform: translate(0, -18px) rotate(0); }
  40% { transform: translate(0, -8px) rotate(0); }
  60% { transform: translate(0, 0px) rotate(0); }
  80% { transform: translate(0, 8px) rotate(0); }
  0%, 100% { transform: translate(0, 0) rotate(0); } 
}

.animate_vertical {
  animation: animate_vertical 150ms ease-in 0s infinite;
}

@keyframes animate_rotate {
  20% { transform: translate(0, 0) rotate(15deg); }
  40% { transform: translate(0, 0) rotate(-9deg); }
  60% { transform: translate(0, 0) rotate(7deg); }
  80% { transform: translate(0, 0) rotate(3deg); }
  0%, 100% { transform: translate(0, 0) rotate(0); }
}

.animate_rotate {
  animation: animate_rotate 200ms ease 0s infinite;
}

@keyframes animate_crazy {
  20% { transform: translate(17px, -8px) rotate(8deg); }
  40% { transform: translate(16px, 14px) rotate(1deg); }
  60% { transform: translate(13px, -10px) rotate(-4deg); }
  80% { transform: translate(11px, -18px) rotate(8deg); }
  0%, 100% { transform: translate(0, 0) rotate(0); }
}

.animate_crazy {
  animation: animate_crazy 100ms ease 0s infinite;
}